:root {
  --cv-sidebar-color: #e8eaee;
  --cv-sidebar-font-color: #5c6168;
}

/* CSS index.html */
body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  box-sizing: border-box;
}
.wrapper {
  max-width: 500px;
  height: 300px;
  margin: 10% auto;
  background-color: #f09371;
  border-radius: 10px;
}

h1 {
  font-size: 1.75rem;
  text-align: center;
  padding: 10px 0;
}

.list-index-container {
  max-width: 75%;
  background-color: aliceblue;
  margin: 20px auto;
  font-size: 1rem;
  border-radius: 10px;
}

.list-index-container li {
  padding: 15px 20px;
}

.list-index-container a {
  text-decoration: none;
  color: inherit;
}

.list-index-container:visited {
  color: #f94449;
}

/* CSS cv-flex.html */
.cv-wrapper {
  font-family: "Inter", sans-serif;
  color: var(--cv-sidebar-font-color);
  max-width: 650px;
  display: flex;
  margin: 20px auto;
  box-shadow: 2px 0px 28px 0px rgba(0,0,0,0.5);
}

.sidebar {
  flex: 1;
  background-color: var(--cv-sidebar-color);
  padding: 30px 40px;
}

.sidebar-box, .profile-box {
  margin-bottom: 30px;
}

.siderbar-box .profile {
  width: 150px;
}

.sidebar-box h1 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: capitalize;
  text-align: left;
  margin-bottom: 0.75rem;
  letter-spacing: 0.1em;
  line-height: 1.4;
}

.sidebar-box span {
  display: inline-block;
  margin-bottom: 0.75rem;
}

.sidebar-box .job-title {
  font-size: 0.675rem;
  text-transform: uppercase;
  line-height: 1.4;
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.sidebar-box .job-title::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 6px;
  background-color: #d67215;
  margin-top: 5px;
}

.sidebar-box .location {
  margin-left: 12px;
  font-size: 0.675rem;
}

.education-title,.skills-title, .profile-title, .experience-title, .extra-title {
  font-size: 0.8125rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2em;
  padding-bottom: 10px;
  margin-bottom: 1rem;
  position: relative;
}

.sidebar-box .education-title::after,
.sidebar-box .skills-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 26px;
  height: 2px;
  background: var(--cv-sidebar-font-color);
}

.education-box,
.skills-box, .job-box, .extra-box {
  font-size: 0.675rem;
  margin-bottom: 24px;
}

.course-title, .job-pos, .title-title {
  font-weight: 600;
  margin-bottom: 4px;
}

.education-box span {
  display: block;
  margin-bottom: 4px;
}

.education-box p {
  margin-top: 16px;
  line-height: 1.4;
  text-align: start;
}

.list-skills {
  font-size: 0.675em;
}

.list-skills ul, .job-box ul {
  margin-left: 12px;
}

.list-skills li, .job-box li {
  list-style: disc;
  margin-bottom: 6px;
}

.cv-content {
  flex: 2;
  padding: 30px;
}

.info-box {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

.info-content {
  display: flex;
  flex-direction: column;
}

.info-box a {
  font-size: 0.675rem;
  text-decoration: none;
  color: var(--cv-sidebar-font-color);
  margin-bottom: 6px;
}

.info-box i {
  width: 4.5px;
  height: 9px;
  margin-right: 12px;
}

.avatar-box {
  flex-shrink: 0;
  width: 116px;
  height: 116px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar-box img {
  width: 100%;
}

.profile-title::after, .experience-title::after, .extra-title::after {
  content: "";
  position: absolute;
  left: -30px;
  bottom: -5px;
  width: 100px;
  height: 2px;
  background: var(--cv-sidebar-font-color);
}

.cv-content p {
  font-size: 0.675rem;
  line-height: 1.4;
}

.com-and-time, .place-and-time {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.job-box p, .extra-box p {
  margin-bottom: 10px;
}

/* CSS pricing-flex.html */
.pricing-table-wrapper {
  font-family: "Inter", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 40px;
  border-bottom: 1px solid #ccc;
}

.logo-and-nav-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav > ul {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav > ul > li.has-sub-menu {
  min-width: 100px;
  text-align: center;
}

.nav > ul > li:nth-child(3) {
  margin-left: 10px;
}

.nav > ul > li > a {
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 500;
  color: #000;
  position: relative;
}

.nav > ul > li.has-sub-menu > a::after {
  content: "\f078";
  font-family: "Font Awesome 7 Free";
  font-weight: 900;
  margin-left: 10px;
  font-size: 0.675rem;
  position: absolute;
  top: 5px;
}

.btn-group button {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 0.875rem;
  font-weight: 500;
  background-color: #fff;
}

.btn-group .register {
  background-color: #000;
  color: #fff;
}

.btn-group .sign-in:hover {
  border-color: #000;
}

.btn-group .register:hover {
  background-color: #fff;
  color: #000;
  border-color: #000;
}

.main-content {
  margin-top: 100px;
  text-align: center;
}

.main-content h1 {
  font-size: 3.5rem;
  font-weight: 600;
  padding-bottom: 1.25rem;
  letter-spacing: -0.125rem;
}

.main-content p {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 500;
}

.date-sub-wrapper {
  margin-top: 40px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.date-sub-wrapper .monthly {
  padding: 8px 20px;
  border: 1px solid #ddd;
  background-color: #ddd;
  color: #777;
  font-size: 0.875rem;
  font-weight: 600;
  border-radius: 10px;
  margin-right: 100px;
}

.date-sub-wrapper .annual {
  padding: 8px 20px;
  border: 2px solid #ddd;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  left: calc(50% - 16px);
}

.pricing-list-wrapper {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.pricing-table-box {
  border: 1px solid #ddd;
  padding: 21px 25px;
  border-radius: 15px;
  transition: all ease 0.2s;
}

.pricing-table-box:nth-child(2) {
  box-shadow: rgba(83, 155, 247) 0px 8px 24px;
}

.pricing-table-box .type-label {
  padding: 10px 0 30px 0;
  font-size: 1.25rem;
  font-weight: 600;
}

.pricing-table-box .price-and-sale {
  display: flex;
  align-items: center;
  gap: 20px;
}

.pricing-table-box .price {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.pricing-table-box .sale {
  font-size: 0.75rem;
  border: 1px solid #c8dcff;
  padding: 3px 7px;
  border-radius: 5px;
  background-color: #e8f0ff;
  color: #539bf7;
}

.pricing-table-box .description {
  font-size: 0.75rem;
  color: #888;
  margin-bottom: 40px;
}

.pricing-table-box .pricing-table-content p {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.pricing-table-box .pricing-table-content > ul > li {
  margin-bottom: 15px;
  font-size: 0.875rem;
}

.pricing-table-box .pricing-table-content > ul > li::before {
  content: "\f00c";
  font-family: "Font Awesome 7 Free";
  font-size: 0.675rem;
  font-weight: 900;
  padding: 5px;
  color: #777;
  background-color: #eee;
  margin-right: 8px;
  border-radius: 5px;
}

.footer {
  margin-top: 100px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #000;
}

.btn-sub-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.btn-sub-container button {
  padding: 8px 12px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  font-weight: 600;
}

.btn-sub-container .pro {
  background-color: #000;
  color: #fff;
}

.btn-sub-container button:hover {
  border-color: #000;
}

.btn-sub-container .pro:hover {
  background-color: #fff;
  color: #000;
}

.pricing-table-box:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.pricing-table-box:nth-child(2):hover {
  box-shadow: rgba(83, 155, 247) 0px 8px 24px;
  transform: translateY(-30px);
}